In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
import statsmodels as stm
import missingno as msno
import random as rn

In [3]:
#Leggo il dataset delle patologie
#La struttura sarà ID_PAZ PATOLOGIA_1 PATOLOGIA_2 PATOLOGIA_3...
dataSet = pd.read_csv("C:/Users/Antonio Montanaro/Desktop/Tesi Magistrale/File Memory/dataset_Patologie.csv")

In [4]:
#Mantengo solo quelle righe per cui la colonna "RepeatInstrument" != NAN
dataSet = dataSet.loc[dataSet["Repeat Instrument"].notnull()]
del dataSet["Unnamed: 0"]

In [52]:
# Costruisco il dataset in questo modo sapendo che al massimo sono state diagnosticate 3 patologie  (è possibile 
# trasformare tutto in funzione soprattutto se dovessero aumentare le patologie)
db_pato = pd.DataFrame(columns=["ID_PAZ", "PATO_0", "PATO_1", "PATO_2"])
id_paz = set(dataSet["ID PAZIENTE"])
for j in id_paz:
    db = dataSet.loc[dataSet["ID PAZIENTE"]==j]
    n_pato = db.shape[0]
    db_pato.at[j,"ID_PAZ"] = j
    if n_pato == 1:
        db_pato.at[j, "PATO_0"] = db["Patologia"].loc[db["Repeat Instance"] == 1.0]
    if n_pato == 2:
        db_pato.at[j,"PATO_0"] = db["Patologia"].loc[db["Repeat Instance"] == 1.0]
        db_pato.at[j,"PATO_1"] = db["Patologia"].loc[db["Repeat Instance"] == 2.0]
    if n_pato == 3:
        db_pato.at[j,"PATO_0"] = db["Patologia"].loc[db["Repeat Instance"] == 1.0]
        db_pato.at[j,"PATO_1"] = db["Patologia"].loc[db["Repeat Instance"] == 2.0]
        db_pato.at[j,"PATO_2"] = db["Patologia"].loc[db["Repeat Instance"] == 3.0]

In [53]:
#Salvo il file
db_pato.to_csv("C:/Users/Antonio Montanaro/Desktop/Tesi Magistrale/File Memory/dataset_Patologie.csv")

,ID_PAZ,PATO_0,PATO_1,PATO_2
1,1,"0 Hepatitis A Name: Patologia, dtype: object",NaN,NaN
3,3,"1349 Asthma bronchial Name: Patologia, dtyp...","1350 Basalioma Name: Patologia, dtype: object",1351 Mixed anxiety and depressive disorder ...
4,4,1766 Calculus of gallbladder without mentio...,NaN,NaN
7,7,"2741 Thyroid nodule Name: Patologia, dtype:...",NaN,NaN
8,8,"2972 Thyroid nodule Name: Patologia, dtype:...","2973 Osteoporosis Name: Patologia, dtype: o...",NaN
...,...,...,...,...
1275,1275,"601 Hiatal hernia Name: Patologia, dtype: o...",NaN,NaN
1277,1277,"604 Obesity surgery Name: Patologia, dtype:...",NaN,NaN
1278,1278,"606 Uterine fibromyoma Name: Patologia, dty...",NaN,NaN
1280,1280,"615 Thalassemia minor Name: Patologia, dtyp...",NaN,NaN
1282,1282,"618 Adenoma thyroid Name: Patologia, dtype:...",NaN,NaN